{{yield}}
<div class="card">
  <figure class="card-image-wrap {{unless bottle.on 'bottle-off'}}" style="{{colorStyle}}">
      {{inline-svg "assets/images/bottle.svg" class="svg-color"}}
  </figure>
  <div class="card-content">
    <span class="text-center">{{toggle-button click=(action 'stateChanged') on=bottle.on}}
      {{spectrum-color-picker color=bottle.color onChange=(action "colorChanged") preferredFormat="hex"}}
    </span>
  </div>
</div>