{{yield}}
{{#paper-item class="md-1-line" as |controls|}}
  <figure class="{{unless led.on 'led-off'}} md-avatar" style="{{colorStyle}}">
      {{inline-svg "assets/images/bottle.svg" class="led-color"}}
  </figure>
  <div class="md-list-item-text {{unless led.on 'led-off'}}" style="{{colorStyle}}">
        <h3>Bottle {{led.id}}</h3>
      </div>
  <div class="md-secondary-container">
      {{#paper-switch value=led.on onChange=(action "toggleOn")}}
      {{/paper-switch}}
  </div>
  <div class="md-secondary-container color-picker-container">
      {{spectrum-color-picker moveFiresChange=true clickoutFiresChange=true palette=paletteString showPaletteOnly=true color=led.color onChange=(action "colorChanged") preferredFormat="hex"}}
  </div>
{{/paper-item}}
{{paper-divider}}