{{yield}}
<div class="card">
  <figure class="card-image-wrap {{unless led.on 'led-off'}}" style="{{colorStyle}}">
      {{inline-svg "assets/images/bottle.svg" class="svg-color svg-stretch"}}
  </figure>
  <div class="card-content">
    <span class="text-center">
      {{toggle-button click=(action 'stateChanged') on=led.on}}
      {{spectrum-color-picker color=led.color onChange=(action "colorChanged") preferredFormat="hex"}}
    </span>
  </div>
</div>